body{
    margin: 0;
}

.header{
    width: 100%;
    background-color: salmon;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}


h1{
    margin-left: 40px;
    margin-top: 40px;
    color: salmon;
}

img{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 350px;
    border-radius: 15px;
}

p{
    margin-left: 40px;
}

.footer{
    text-align: center;
    padding: 15px;
    background-color: salmon;
}

@media screen and (max-width: 768px) {
    
    img{
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 330px;
        height: 300px;
        border-radius: 15px;
    }

    p{
        font-size: 15px;
        margin-left: 40px;
        margin-right: 41px;
    }

    .footer p{ 
        font-size: 14px;
        text-align: center;
    }

    .footer{
        margin-top: 80px;
    }
}